@charset "UTF-8";

a {
    color: #228;
    text-decoration: none;
}

table {
    border: 1px #000 solid;
}

td, th {
    min-width: 120px;
    border: 1px #888 dotted;
    padding: 2px 2px;
}

select {
    border: 1px #000 solid;
    width: 100%;
    background-color: #fff;
}

#nav {
    position: relative;
    padding: 0.5em 0.5em 0 0;
}

#nav a {
    border: 1px solid #cde;
}

.error {
    color: #822;
}

img.t_op {
    width: 16px;
    padding: 2px;
}

#rozklad table {
    border: 1px #da0 solid;
    border-collapse: collapse;
    border-spacing: 0px;
}

#rozklad th {
    border: 0px #000 solid;
}

#rozklad td {
    width: 13%;
    min-width: 150px;
    border: 1px #000 dotted;
    vertical-align: middle;
    text-align: center;
    font-size: 9pt;
}

#rozklad td:hover {
    border: 1px #f00 solid;
    cursor: pointer;
    cursor: hand;
}

#terminy th {
    border: none;
}
#terminy td {
    border: none;
}
#terminy th:hover {
    cursor: default;
}
#terminy td:hover {
    border: none;
    color: #080;
}

.wolne {
    background-color: #fff;
}

.umowione {
    background-color: #aaf;
}

.zajete {
    background-color: #ccc;
}
